<section id="home">
    <div style="height: 305px" class="customCarousel">
        <div uib-carousel active="vm.active" interval="vm.myInterval" no-wrap="vm.noWrapSlides">
            <div uib-slide ng-repeat="slide in vm.slides track by slide.id" index="slide.id">
                <img ng-src="{{slide.image + vm.extension}}" style="margin:auto;" alt="Plan B">
                <div class="carousel-caption large_tabs_carousel_caption">
                    <h1 ng-class="{'animated flipInX':slide.active}">{{slide.title}}</h1>
                    <div class="translucent-background-docoBlue hidden-xs hidden-sm" ng-class="{'animated flipInX':slide.active}">
                        <h2>{{slide.text}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section  id="product" class="whyUs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="text-align: center;">
                <h1 ng-appear="vm.showHowItWorks()">
                    Why us?
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="hidden-xs col-sm-1"></div>
            <div class="col-xs-6  col-sm-2 howitWorksArrContainer animated bounceInRight" ng-repeat="howItworks in vm.howitworksarr">
                <div class="hover-whyus">
                    <div class="row">
                        <div class="col-xs-12">
                            <img ng-if="howItworks.img" ng-src="{{howItworks.img}}"/>
                            <i ng-if="!howItworks.img" class="fa fa-line-chart" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>{{howItworks.title}}</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p>{{howItworks.paragraph}}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section id="closetoyuo">
    <div class="yellow-bg">
        <div class="container">
            <div class="row">
                <div class="col-xs-4 col-sm-2">
                    <h1>
                        We are <br />
                        close <br />
                        to you
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section  id="featured" class="offers">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>
                    What we offer 
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <flippy
                    class="fancy"
                    flip="['mouseenter']"
                    flip-back="['mouseleave']"
                    duration="800"
                    timing-function="ease-in-out">
                    <flippy-front>
                        <div>
                            <h3>SERVICES</h3>
                            <i class="fa fa-cogs" aria-hidden="true"></i>
                        </div>
                    </flippy-front>
                    <flippy-back>
                        <div>
                            <h3>SERVICES</h3>
                            <ul>
                                <li>CAD drafting and conversion</li>
                                <li>Architectural design and planning</li>
                                <li>3D rendering and visualization</li>
                                <li>Presentation of projects</li>
                                <li>Standardization of design process</li>
                                <li>Quality control</li>
                                <li>Business representative</li>
                            </ul>
                        </div>
                    </flippy-back>
                </flippy>
            </div>
            <div class="col-xs-6 col-sm-3">
                <flippy
                    class="fancy"
                    flip="['mouseenter']"
                    flip-back="['mouseleave']"
                    duration="800"
                    timing-function="ease-in-out">
                    <flippy-front>
                        <div>
                            <h3>TOOLS</h3>
                            <i class="fa fa-paint-brush" aria-hidden="true"></i>
                        </div>
                    </flippy-front>
                    <flippy-back>
                        <div>
                            <h3>TOOLS</h3>
                            <ul>
                                <li>AutoCAD 2D & 3D</li>
                                <li>SketchUp </li>
                                <li>Adobe Photoshop</li>
                                <li>Adobe Illustrator</li>
                                <li>Adobe Pro</li>
                                <li>Corel Draw</li>
                                <li>Microsoft Office</li>
                                <li>3D Max</li>
                                <li>Rhinoceros</li>
                            </ul>
                        </div>
                    </flippy-back>
                </flippy>
            </div>

            <div class="col-xs-6 col-sm-3">
                <flippy
                    class="fancy"
                    flip="['mouseenter']"
                    flip-back="['mouseleave']"
                    duration="800"
                    timing-function="ease-in-out">
                    <flippy-front>
                        <div>
                            <h3>EXPERIENCE</h3>
                            <div class="experience">
                                <i class="fa fa-building-o" aria-hidden="true"></i>
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <i class="fa fa-university" aria-hidden="true"></i></div>
                        </div>
                    </flippy-front>
                    <flippy-back>
                        <div>
                            <h3>EXPERIENCE</h3>
                            <ul>
                                <li>Residential</li>
                                <li>Retail</li>
                                <li>Mixed Use</li>
                                <li>Recreation and Wellness</li>
                                <li>Sport and Recreation</li>
                                <li>Education</li>
                                <li>Corporate</li>
                            </ul>
                        </div>
                    </flippy-back>
                </flippy>
            </div>
            <div class="col-xs-6 col-sm-3">
                <flippy
                    class="fancy"
                    flip="['mouseenter']"
                    flip-back="['mouseleave']"
                    duration="800"
                    timing-function="ease-in-out">
                    <flippy-front>
                        <div>
                            <h3>LANGUAGES</h3>
                            <i class="fa fa-comments" aria-hidden="true"></i>
                        </div>
                    </flippy-front>
                    <flippy-back>
                        <div>
                            <h3>LANGUAGES</h3>
                            <ul>
                                <li>English</li>
                                <li>Spanish</li>
                                <li>Portuguese</li>
                            </ul>
                        </div>
                    </flippy-back>
                </flippy>
            </div>
        </div>
        <div class="training">
            <div class="row">
                <div class="col-xs-12">
                    <div>
                        <h2>
                            TRAINING
                        </h2>
                        <p>We are continuously training in order to improve our offer. We provide flexible and customized services, adapting to the needs of our clients. 
                            <br />Please, let us know if you need assistance in other area or if you are interested in other design tool.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section  id="about" class="masterplan">
    <div class="light-blue-bg"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <h1>
                    Pricing
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 story">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="hexagon">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <h2>MONTH</h2>
                        <p>We work with you a certain amount of hours per week. We intend to have a long term relationship with your company, so this option proposes a special price arrangement.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="hexagon">
                            <i class="fa fa-list" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <h2>PROJECT</h2>
                        <p>You hire our services for a particular project or phase.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="hexagon">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <h2>HOUR</h2>
                        <p>Depending on the task
                            We are ready to negotiate depending on the project size / duration. Contact us and get our proposal within 24 hours.
                        </p>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-xs-12">
                        <p>
                            We are ready to negotiate depending on the project size / duration. Contact us and get our proposal within 24 hours.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="demo">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h1>
                    Make PlanB 
                    your first 
                    choice
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <h2>
                    Please fill in your contact details and we will get back to you as soon as possible.
                </h2>
            </div>
            <div class="col-xs-12 col-sm-8">
                <form ng-submit="vm.sendEmail(emailData.$valid)" name="emailData" style="padding-top: 10px" novalidate>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="input-group-lg">
                                <input type="email" class="form-control" name="email" ng-model="vm.user.email" placeholder="Email" required>
                                <div style="min-height: 15px;">
                                    <span ng-show="emailData.email.$touched && emailData.email.$error.required" class="error">Email is required</span>
                                    <span ng-show="emailData.email.$touched && !emailData.email.$error.required && emailData.email.$error.email" class="error">Allowed email types: xxx@xxx.com</span>
                                </div>
                            </div>
                        </div>    
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <textarea class="form-control " rows="8" name="mensaje" validate-email ng-model="vm.user.mensaje" placeholder="Write your message here" required></textarea>
                                <span ng-show="emailData.mensaje.$touched && emailData.mensaje.$error.required" class="error">Message is required</span>
                            </div>
                        </div>    
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="btn-group btn-group-lg pull-right" role="group">
                                <button type="submit" class="btn btn-info" ng-disabled="!emailData.$valid">Send</button>
                            </div>
                        </div>    
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>